body{
   background: linear-gradient(black, orange);
   height: 2000px;
}
a{
    text-decoration: none;
    color: white;
}
.libar
{
    list-style: none;
    float: left;
    padding: 0px 20px 0px 20px;
    margin: -9px 9px;
}
.libar :hover
{
    list-style: none;
    float: left;
    color: black;
    padding: 0px 20px 0px 20px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: rgb(15, 248, 15);
}
#ulbar
{
   border: 20px solid;
   border-width: 100%;
   border-radius: 40px;
}
#navbar
{
    position: fixed;
    left: 20px;
    top: 20px;
    width: 97%;
}
#search
{
    border: 2px solid;
    border-radius: 20px;
    padding: 4px 10px;
    float: right;
    margin: -14px 10px;
}
#pin
{
    border: 2px solid;
    display: inline-block;
    padding: 10px 10px;
    background-color: black;
    position: fixed;
    top: 300px;
    left: 30px;
    border-radius: 22px;
}
.form
{
    border: 1px solid;
    border-radius: 30px ;
    padding: 4px 10px ;
    text-align: center;
    
}
button#first
{
    color: brown;
    background-color: rgb(4, 248, 17);
    border: 1px solid;
    border-radius: 20px;
    padding: 4px 4px;
    margin: 4px 4px;
    position: fixed;
    right: 120px;
    bottom: 20px;
}
button#first:hover
{
    background-color: darkorange;
    padding: 10px 10px;
    margin: -2px -4px;
}
button#second
{
    color: brown;
    background-color: rgb(17, 245, 245);
    border: 1px solid;
    border-radius: 20px;
    padding: 4px 4px;
    margin: 4px 4px;
    position: fixed;
    right: 10px;
    bottom: 20px;
}
button#second:hover
{
    background-color: darkorange;
    padding: 10px 10px;
    margin: -2px -4px;
}
#button
{
    border: 8px solid;
    border-radius: 20px;
    background-color: black;
    position: fixed;
    bottom: 19px;
    right: 10px;
    display: inline-block;
    height: 19px;
    width: 178px;
}
footer
{
    background-color: black;
    height: 5%;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    padding: 20px;
}
